<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
	</configSections>
	<RewriterConfig>
		<Rules>
			<RewriterRule>
				<LookFor>~/index.html</LookFor>
				<SendTo>~/index.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/scan(.*).html</LookFor>
				<SendTo>~/qrcode.aspx?id=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/view-(.*).html</LookFor>
				<SendTo>~/content/view-art.aspx?artid=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/news-(.*).html</LookFor>
				<SendTo>~/content/list-art.aspx?mid=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/help.html</LookFor>
				<SendTo>~/content/help.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/line.html</LookFor>
				<SendTo>~/content/list-line.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/ticket.html</LookFor>
				<SendTo>~/content/list-ticket.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/viewline-(.*).html</LookFor>
				<SendTo>~/content/view-line.aspx?id=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/viewticket-(.*).html</LookFor>
				<SendTo>~/content/view-ticket.aspx?id=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/search.html</LookFor>
				<SendTo>~/content/search.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/search-news.html</LookFor>
				<SendTo>~/content/search-news.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/search-product.html</LookFor>
				<SendTo>~/content/search-product.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/app_down.html</LookFor>
				<SendTo>~/app_down.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/wap_view_(.*).html</LookFor>
				<SendTo>~/wap/view.aspx?q=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/wx_myshop_(.*).html</LookFor>
				<SendTo>~/wap/myshop.aspx?q=$1</SendTo>
			</RewriterRule>
		</Rules>
	</RewriterConfig>
	<system.web>
		<customErrors mode="Off"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<compilation debug="true" batch="false" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			</assemblies>
		</compilation>
		<httpRuntime/>
	</system.web>
	<appSettings>
		<add key="vs:EnableBrowserLink" value="false"/>
		<add key="EncryptKey" value="ETWD!@#$345@!#$AW345asFE"/>
		<add key="EncryptQueryString" value="ETWD@888"/>
		<add key="LoginCookieName" value="eticket_cookies"/>
	</appSettings>
	<connectionStrings>
		<add name="ETicketEntities" connectionString="metadata=res://*/ETicketEntities.csdl|res://*/ETicketEntities.ssdl|res://*/ETicketEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ETicket;user id=sa;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="ETicketSql" connectionString="data source=.;initial catalog=ETicket;user id=sa;password=hDv56M3d5x9Nw9h6;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<system.webServer>
		<handlers>
			<add name="Custom Handler" path="WebResource.axd" verb="*" type="System.Web.Handlers.AssemblyResourceLoader"/>
		</handlers>
		<modules>
			<add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter"/>
		</modules>
		<defaultDocument>
			<files>
				<add value="index.aspx"/>
			</files>
		</defaultDocument>
		<validation validateIntegratedModeConfiguration="false"/>
		<staticContent>
			<mimeMap fileExtension=".apk" mimeType="application/vnd.android"/>
		</staticContent>
	</system.webServer>
</configuration>