<title>阳朔票票通</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
<style type="text/css">
<!--
.yudingdiv {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 40px; /*px*/
        // left: 0;
	bottom: 0;
	margin: auto;
	color: #FFFFFF;
	background-color: #FF3300;
    }
.yudingdiv a{
	color: #FFFFFF;
	text-decoration: none;
}
#detail img{
display: block;
height: auto;
max-width: 100%;
}
.STYLE4 {
	color: #0066CC;
	font-size: 24px;
	font-weight: bold;
}


-->
</style>

 
<table width="100%" border="0" align="center" cellpadding="15" cellspacing="15">
  <tr>
    <td width="50%" height="180"> <div align="center"><img width="220" height="80px" alt="" src="{ImgUrl}" >
    </div>
      </div></td>
  
  </tr>
</table>

  </tr>
</table>

 
   <div class="ub ub-ac c-gra-d6 b-gra-a6 ubt">
            <div class="uinn-5 b-blu-218 t-bla-28 ulev-app2"> 
              <div align="center"><strong>
                <span class="STYLE4">{ProductName} </span>  </div>
            </div>
</div>

           <div class="aui-pay-fill">
                <div class="aui-pay-flex">
                    <div class="aui-flex b-line">
                        <div class="aui-flex-box">
                            <h2 class="aui-pay-titleS">景区信息</h2>
                        </div>
                        <!-- <span class="aui-arrow">查看详情</span>  -->
                    </div>
                    <div class="aui-pay-info">
                        <p class="aui-flex">营业时:<em class="aui-flex-box">{OpenTime}</em></p>
                        <p class="aui-flex">景点电话:<em class="aui-flex-box">{Tel}</em></p>
                        <p class="aui-flex">景点地址:<em class="aui-flex-box">{Address}</em></p>
                    </div>
                </div>

                <div class="aui-pay-flex">
                    <div class="aui-flex">
                        <h2 class="aui-pay-title">预订须知  </h2>
                    </div>
                    <div class="aui-palace">{RulesNote}</div>
			       <h2 class="aui-pay-title">详情介绍  </h2>
                   <div class="aui-palace"> {Detail}</div>
                </div>
      

 </div>



            <div class="aui-pay-com">
                <button><a href="{BuyUrl}">立即预订</a></button>
            </div>

        </div><br />
<br />
<br />


 