parterid208542091
productID5
buyNum1
realName张三
phone189777777777
-------------------门票游玩日期-----------------------
playDate
-------------------专线发车相关-----------------------
startDate10:30
startTime10:30
startAddress阳朔老汽车站
-------------------回调及签名-----------------------
notifyurlhttp://localhost:8080/javedemo/notify_url.jsp
signtypemd5
token2dac6e0b5fb20347fa7972add24aead2
