parterid208542091
productID5
buyNum1
realName张三
phone189777777777
-------------------门票游玩日期-----------------------
playDate
-------------------专线发车相关-----------------------
startDate11:30
startTime11:30
startAddress阳朔老汽车站
-------------------回调及签名-----------------------
notifyurlhttp://localhost:8080/javedemo/notify_url.jsp
signtypemd5
token388dab8f503b134e8e1cad74966df4ef
