<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IpList" value="::1|127.0.0.1|121.41.49.206" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="UploadPath" value="d:\vs\am5\Aim\Upload\" />
		<add key="APP_KEY" value="12364298" />
		<add key="APP_SECRET" value="015e07107a4a824b01eac5e83062a599" />
		<!-- <add key="APP_KEY" value="21734196" />
    <add key="APP_SECRET" value="7814a44c418b4febd640561ee5e171f7" />-->
		<add key="apiurl" value="http://testwork.caoam.cn/" />
		<add key="SiteDomian" value="aim2.com" />
		<add key="MonitorShop" value="3424" />
		<add key="DefautServer" value="www:1" />
		<add key="MainSite" value="true" />
	</appSettings>
</configuration>