System.InvalidOperationException: ObjectStateManager 不包含具有对“ETicket.EFEntity.OrderRefund”类型的对象的引用的 ObjectStateEntry。
   在 System.Data.Objects.ObjectStateManager.ChangeObjectState(Object entity, EntityState entityState)
   在 ETicket.EFDAO.TransactionBaseDAO.UpdateObject[T](T entity) 位置 e:\NJiaSu_Code\2014\顺和嘉\ETicket\ETicket.EFDAO\TransactionBaseDAO.cs:行号 296
   在 ETicket.BLL.OrderSheetBLL.RefundRequest(Int32 orderID, OrderRefund refund) 位置 e:\NJiaSu_Code\2014\顺和嘉\ETicket\ETicket.BLL\OrderSheetBLL.cs:行号 127